@import url('https://fonts.googleapis.com/css?family=Hind|Muli:400i');

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: 
	color: #05405E;
}

h1 {
	color: #FF0060;
	font-family: 'Hind', sans-serif;
}

#slogan{
	font-style: italic;
	text-align: center;
	font-family: 'Muli', sans-serif;
}

header {
	/*background-color: #FFF;
	padding: 20px;*/
}

p {
	font-family: 'Hind', sans-serif;
}

#tagline {
	height: 500px;
    /*width: 100%;
	background-image: url("https://static.pexels.com/photos/92902/pexels-photo-92902.jpeg");
	background-color: #808080*/
}

#two_column {
    background-color: #ffb7cf;
    border: 1px black solid;
    padding: 20px;
}

#services {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%
}

#info{
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
    background-color: #ffed74;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #e89c6c;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #ffc675;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #ff957e;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}